@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.App {
  min-height: 100vh;
}
.home {
  background-image: url("https://images.pexels.com/photos/939723/pexels-photo-939723.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}
.show-btn,
.nav,
.nav-bar,
a,
p {
  /* font-family: "Lobster", cursive !important; */
  text-decoration: none !important;
}
.home .content {
  position: absolute;
  top: 20%;
  left: 10%;
}
.home .content h1 {
  font-family: "Lobster", cursive;
  padding-bottom: 20px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255);
}
.buttonA {
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  background-color: #2c3e50;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;
  margin: 10px;
  max-width: 200px;
  opacity: 0.9;
  cursor: pointer;
}
.buttonA:hover {
  opacity: 1;
  color: white;
}
.mar-r {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 0.5px solid #eee;
}
.mar-r .show-btn {
  flex-basis: 50px;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  color: black;
  opacity: 0.7;
}
.mar-r .show-btn:hover {
  opacity: 1;
}
.jumbotron {
  height: auto !important;
  background-color: #2c3e50 !important;
  color: white;
}
.navbar {
  background-color: #2c3e50 !important;
}
.footer {
  height: 50px;
  text-align: center;
  background-color: #2c3e50 !important;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
.campgrounds {
  padding: 20px;
  height: auto !important;
  min-height: auto !important;
}
.campground {
  padding: 10px;
  text-align: center;
  height: auto !important;
  max-height: auto !important;
}
.campground img {
  max-height: 200px;
}
#descText {
  height: 110px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  text-align: center;
}
.show-camp {
  text-transform: capitalize;
}
.show-camp img {
  max-height: 60vh;
}
.mar-l {
  display: flex;
  justify-content: space-between;
}

.create-camp .form {
  background-color: #2c3e50;
  color: white;
  min-height: 80vh;
  margin: 0px auto;
  width: 100%;
  max-width: 500px;
  border-radius: 0 0 40px 40px;
  text-align: left;
  padding: 30px;
  box-shadow: 0px 1px 3px 2px black;
  font-family: "Source Code Pro", monospace;
}
button {
  margin: 10px !important;
}

.reviews .review-item {
  width:100%;
   border:1px solid #eee;
   display:flex;
   flex-direction:row;
   justify-content: space-between;
   padding:4px 10px;
   text-align: left ;
   margin:auto auto;
   font-size: 8px;


  
}




/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}